@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
}
/* -- SCROLL BAR --*/
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: #360841;
}
::-webkit-scrollbar-thumb{
  background: #000;
  border-radius: 30px;
}
/* --HEADER--*/
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(52,34,157);
  background: linear-gradient(0deg, rgba(52,34,157,1) 0%, rgba(191,45,100,1) 32%, rgba(179,43,93,1) 71%, rgba(100,4,126,1) 100%);
}
header{
  display: flex;
  height: 5vh;
  width: 90%;
  margin: 0;
}
#navigation-bar{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.logo{
  margin-top: 2px;
  font-size: 36px;
  font-weight: 700;
}
.menu{
  display: flex;
  align-items: center;
  height: 100%;
  width: 40%;
  justify-content: space-between;
}
.menu a{
  color: #9217ad;
}
.menu li{
  display: flex;
  border-radius: 1px;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
}
.menu li:hover{
  background-color: #360841;
  transition: .5s;
  font-size:18px ;
}
/*---Container--*/
#container{
  width: 90%;
  height: 100%;
}
/*--Página Inicial--*/
#pagina-inicial{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 95vh;
}
.apresentacao-inicial{
  display: flex;
  justify-content: center;
}
.apresentacao-inicial span{
  font-size: 80px;
  font-weight: 200;
}
.foto-inicial{
  width: 240px;
  height: 240px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 8px rgb(71, 17, 53);
  overflow: hidden;
}
.foto-inicial img{
  width: 240px;
  height: 240px;
}
.box-btn{
  display: flex;
  width: 15%;
  flex-direction: column;
  
}
.box-btn a{
  color: #000;
}
.btn-inicial{
  display: flex;
  padding: 30px;
  margin: 30px 0px;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*--Sobre--*/
#sobre{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.pic-sobre{
  width: 40%;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
}
.pic-sobre img{
  width: 100%;
  height: 100%;
}
.box-sobre{
  width: 50%;
  font-size: 22px;
  letter-spacing: 2px;
}
/*--Tecnologias--*/
#tecnologias{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  min-height: 100vh;
}
.wakatime{
  width: 50%;
  height: 70%;
  overflow: hidden;
  border-radius: 10px;
}
.legends{
  font-size: 48px;
}
.tecnologia-percent{
  display: flex;
  width: 100%;
  height: 30%;
}
.tecnologias-box{
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  margin: 5px;
  width: 100%;
}

/*--Projetos--*/
#projetos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.projetos-box{
  border: 1px solid #000;
  width: 33%;
  height: 80vh;
}
/*--Contato--*/
#contato{
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
form{
  display: flex;
  width: 100%;
  flex-direction: column;
}